/******************   */

/* Header section */

/******************   */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* to make the nav sticky */
  height: 9.6rem;
  padding: 0 2.3rem;
}

.logo {
  height: 2.2rem;
}

/******************   */

/* navigation section */

/******************   */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  transition: all 0.3s;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #333;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  color: #fff;
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  border-radius: 9px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}


/*******************   */

/* featured in section */

/****************   */

.featured-in {
  padding: 4.8rem 0 3.2rem 0;
}

.heading--featured-in {
  font-size: 2rem;
  font-weight: 500;
  color: #888;
  margin-bottom: 3.2rem;
  text-align: center;
  text-transform: uppercase;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(-50%);
  opacity: 50%;
}

/*******************   */

/* hero section */

/****************   */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem  0 9.2rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.2rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.hero-image {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin-top: 6.2rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-images img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 25px;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-images img:last-child {
  margin: 0;
}

.delivered-text {
  font-weight: 600;
  font-size: 1.8rem;
}

.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/*******************   */

/* How to works section */

/****************   */

.step-img {
  width: 35%;
}

.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 9.2rem;
  color: #ddd;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.8;
  font-weight: 500;
}

.step--img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step--img-box::before,
.step--img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step--img-box::before {
  width: 65%;

  /* instead of height */
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step--img-box::after {
  width: 50%;

  /* instead of height */
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}
